.floor-map {
  display: grid;
  grid-template-columns: repeat(5, 6rem ); 
  grid-template-rows: repeat(2, 6rem);
  grid-gap: 1rem
}

.table {
  border: 1px black solid;
  text-align: center;
  padding: auto;

}